<footer>
  <div class="footer-container">
    <p class="footer-text">
      <span class="footer-copyright"> &copy;</span> 2024 | All Rights Reserved |
    </p>
    <p class="footer-text">
      Developed with

      <svg class="heart" width="14px" height="13px">
        <use href="../public/heart.svg#heart"></use>
      </svg>
      by
      <button class="footer-btn" id="our-team-btn">GoIT Students</button>
    </p>
  </div>
</footer>
<!--Form-->
<div class="modal-window" style="display: none">
        <div class="modal-container">
            <button type="button" class="modal-btn">
                <svg width="16" height="16" class="modal-btn-svg">
                    <use href=""></use>
                </svg>
            </button>
            <h2 class="team-title">Script Teams</h2>
            <ul class="team-list">
      <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="../img/çağlayan-usta.jpg"
            alt="Çağlayan-Usta"
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Çağlayan Usta</h2>
            <p class="team-function">Team Leader</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://www.linkedin.com/in/çağlayan-usta-b5140121a"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/lutficaglayanusta"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="../img/selim-ısık.jpg"
            alt="Selim-Işık"
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Selim Işık</h2>
            <p class="team-function">Scrum Master</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://www.linkedin.com/in/selim-i%C5%9F%C4%B1k-a065b2348/"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/Selim-isik"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="../img/fatih-genç.jpg"
            alt="Fatih-Genç"
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Fatih Genç</h2>
            <p class="team-function">Developer</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://www.linkedin.com/in/muhammet-fatih-genç-190119104"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/Gencoflu61"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src=""
            alt=""
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Azime İrem Köksal</h2>
            <p class="team-function">Developer</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://www.linkedin.com/in/azime-irem-sezer-k%C3%B6ksal-519346115?"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/airemsezer"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src=""
            alt=""
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Çağdaş Şahin</h2>
            <p class="team-function">Developer</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href=""
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/replikduplik"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="../img/Doğan-demibas.jpg"
            alt="Doğan-Demirbaş"
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Doğan Demirbaş</h2>
            <p class="team-function">Developer</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href=""
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/DoganDmrbs"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src=""
            alt=""
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Enes Ekrem</h2>
            <p class="team-function">Developer</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href=""
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href=""
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="../img/miraç-sengül.jpg"
            alt="Miraç-Şengül"
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Miraç Şengül</h2>
            <p class="team-function">Developer</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://www.linkedin.com/in/miraçşengül441b31278"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/MiracSengul"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
            <li class="team-card">
        <div class="team-wrap">
          <img
            class="team-img"
            loading="lazy"
            src="../img/ömer-taskesen.jpg"
            alt="Ömer-Taşkesen"
            width="200"
          />
        </div>
        <div class="team-description">
            <h2 class="team-member">Ömer Taşkesen</h2>
            <p class="team-function">Developer</p>
            <ul class="team-social-list">
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://www.linkedin.com/in/ömer-taşkesen-8378271a4"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-socials-icon">
              <a
                class="team-link"
                target="_blank"
                rel=""
                href="https://github.com/omertaske"
              >
                <svg class="team-icon" width="25" height="25">
                  <use href="../public/link.svg#github"></use>
                </svg>
              </a>
            </li>
            </ul>
          </ul>
        </div>
      </li>
        </div>
        </div>