<section class="catolog">
  <div class="container">
    <form id="catolog-form">
      <input type="text" name="input" class="input-form" placeholder="Search" />
      <select name="choose" id="choose">
        <option>2025</option>
        <option>2024</option>
        <option>2023</option>
        <option>2022</option>
        <option>2021</option>
        <option>2020</option>
        <option>2019</option>
        <option>2018</option>
        <option>2017</option>
      </select>
      <button type="submit">
        <svg class="icon" width="20" height="20">
          <use href="./icons.svg#icon-search-3"></use>
        </svg>
      </button>
    </form>
    <ul class="list"></ul>
  </div>
</section>
