.library-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  list-style: none;
}

.library-list li p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  width: 50%;
}

.library-list li h3 {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.library-list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.3s ease;
}

.library-list li:hover {
  transform: translateY(-10px);
  border-color: rgba(248, 119, 25, 1);
  box-shadow: 0 0 20px rgba(248, 119, 25, 1);
  cursor: pointer;
}

.library-list li .info {
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  border-radius: 5px;
  mask-image: linear-gradient(to top, black 80%, transparent 100%);
  backdrop-filter: blur(2px) brightness(0.9);
}
.load-more{
  display: none;
  margin: 20px auto;
  padding: 12px 24px;
  border-radius: 30px;
  background-color: #FA691D;
  color: black;
  border: none;
}