/* Section Header */
.movie-container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;}
.weekly-header {
  position: absolute;
  top: 800px;
  margin:80px 32px 28px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 900px;
}

.weekly-title {
  font-size: 28px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(255,255,255,1);
  letter-spacing: 0%;
  height: 33px;
}
.see-all {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(248,119,25,1);
  letter-spacing: 0%;
  width: 84px;
  height: 33px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
/* Movie Grid */
.movie-grid {
  display: flex;
  gap: 15px;
  margin-bottom: 60px;
  top: 828px;
  margin-top: 950px;
  left: 32px;
  max-width: 1270px;
}

.movie-card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 395px;
  height: 574px;
}

.movie-card:hover {
  transform: translateY(-10px);
  border-color: rgba(248,119,25,1);
  box-shadow: 0 0 20px rgba(248,119,25,1);
}
.movie-poster {
  width: 395px;
  height: 574px;
  object-fit: cover;
}

.movie-info {
  max-width: 395px;
  max-height: 75px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  position: absolute;
  padding: 10px;
  display: flex;
  top: 1459px;
  justify-content: space-between;
  align-items: center;
   /* Gölgeli cam efekti */
  mask-image: linear-gradient(to top, black 80%, transparent 100%); /*Üst kısımda gradient */
  background: rgba(0, 0, 0, 0.6); /* Yarı şeffaf siyah */
  backdrop-filter: blur(2px) brightness(0.9); /* Bulanıklık ve koyuluk */
  /* Geçiş efekti */
  transition: all 0.3s ease;
  border-radius: 5px;
  
}

.title-date{
  width: 50%;
}
.movie-title {
  color: rgba(255,255,255,1);
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 495px;
}


.movie-date {
  color: gray;
  width: 100%;
  margin-top: 5px;
}
.movie-rating {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.movie-rating .icon {
  margin-right: 2px;
}

.rating-value {
  margin-left: 6px;
  font-size: 14px;
  color: #F87719;
  font-weight: bold;
}